@import url('https://fonts.googleapis.com/css?family=BenchNine|Chewy|Fjalla+One|Permanent+Marker|Shadows+Into+Light|UnifrakturCook:700');
@import url('https://fonts.googleapis.com/css?family=Bangers|Carter+One|Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Nunito|Ubuntu');
body{
	margin: 0;
	overflow-x: hidden;
	max-width: 100%;
}

.container {
    overflow: hidden;
    width: 100%;
    height: 48px;
    background-color: #945D60;
    font-family: Arial;
    padding-left: 25%;
    padding-right: 25%;

}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: auto;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #945D45;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #945D60;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2{
	font-family: 'Nunito', sans-serif;
    font-size: 90px;
}
 /* Style the tab */
div.tab {
	margin-top: 3px;
    float: left;
    background-color: #945D60;
    width: 20%;
    height: 700px;
    padding:25px 0px 25px 25px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: white;
    width: 85%;
    height: 30px;
    border:none;
    outline: none;
    text-align: left;
    cursor: pointer;
    /*transition: 0.3s;*/
    margin-bottom: 5px;
    font-family: 'Fjalla One', sans-serif;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #4f4f4f;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #3C3C3C;
    border-radius: 5px;
}

/* Style the tab content */
.tabcontent {
	margin-top: 3px;
	overflow: auto;
    overflow-y: hidden;
	margin-top: 0;
    float: left;
    /*border: 1px solid #ccc;*/
    width: 60%;
    height: 300px;
}
.hide
{
	display: none;
}


/*h4{
    padding: 0;
    font-size: 25px;
    margin-bottom: 0;
    margin: 5px 0 5px 10px;
    font-family: 'Nunito', cursive;
    color: #AF473C;
}*/
h3{
    margin-left: 10px;
    font-size: 25px;
  /*  margin-bottom: 0;
    margin-top: 30px;*/
   font-family: 'Ubuntu', sans-serif;
   font-weight:bold;
   color: #AF473C;
   font-size:25;
}
.Social
{
	
	font-size: 22px;
	 width: 50%;
	height: 20%;
}
.w-contacts-item-value{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
	font-weight:bold;
	
    color: #000000;
}


.fa {
	 margin-left: 10px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
	
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.stay
{
	float:left;
    width: 50%;
}
.contact
{
	float:right;
    width: 50%;
    font-size: 22px;

}
.loacte
{
    width:100%;
    height:20%;
}

